@page
@model cw7.Pages.AddGameModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Dodawanie Gier</title>
</head>
<body>
    <h1>Dodaj nową grę</h1>
    <form asp-page="AddGame" method="post">
        <div class="row m-3">
            <label class="col-3 text-end" asp-for="@Model.MyGame.Title"></label>
            <input class="col-6" asp-for="@Model.MyGame.Title" />
            <span asp-validation-for="@Model.MyGame.Title" class="text-danger col-3"></span>
        </div>
        <div class="row m-3">
            <label class="col-3 text-end" asp-for="@Model.MyGame.Studio"></label>
            <input class="col-6" asp-for="@Model.MyGame.Studio" />
            <span asp-validation-for="@Model.MyGame.Studio" class="text-danger col-3"></span>
        </div>
        <div class="row m-3">
            <label class="col-3 text-end" asp-for="@Model.MyGame.ReleaseDate"></label>
            <input type="date" class="col-6" asp-for="@Model.MyGame.ReleaseDate" />
            <span asp-validation-for="@Model.MyGame.ReleaseDate" class="text-danger col-3"></span>
        </div>
        <div class="row m-3">
            <label class="col-3 text-end" asp-for="@Model.MyGame.Price"></label>
            <input type="number" class="col-6" asp-for="@Model.MyGame.Price" step="0.01" />
            <span asp-validation-for="@Model.MyGame.Price" class="text-danger col-3"></span>
        </div>

        <div class="row m-3">
            <label class="col-3 text-end" asp-for="@Model.MyGame.Genre"></label>
            <select class="col-6" asp-for="@Model.MyGame.Genre" >
                @foreach(var genre in ViewData["Genres"] as List<string>)
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>
        <div class="row m-3">
            <input type="submit" value="Dodaj" class="offset-3 col-6 btn btn-primary" />
        </div>
    </form>
    <div>
        <a class="btn btn-primary" asp-page="Games">Powrót do listy Gier</a>
    </div>
    <hr>
    <div>
        @ViewData["Message"]
    </div>
</body>
</html>